html,
body{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %dmsans-500;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  background-color: #ffffff;
}

.main{
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper{
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  @extend %dmsans-700;
  color:$title;
  font-size: 36px;
  text-align: center;
}

.gallery__btns{
  text-align: center;
}
.gallery__btn{
  @extend %dmsans-700;
  padding: 0;
  color: #8b8b8b;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 80px;
}
.gallery__btn:not(:last-child) {
  margin-right: 26px;
}