@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding-top: 45px;
  margin-bottom: 47px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    line-height: 0;
    max-width: 320px;
    width: 100%;


    &-btn:nth-child(1) {
      border: none;
      padding: 18px 18px 18px 17px;
      border-radius: 50%;
      background-color: #edf1f4;
      margin-right: 21px;
    }

    &-links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      max-width: 178px;
      width: 100%;
      text-align: center;
      border-radius: 50px;
      background-color: $branded;
      margin-right: 21px;
    }

    &-link {
      position: relative;
      margin-top: 15px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &-btn:nth-child(3) {
      border: none;
      padding: 15px 15px 16px 16px;
      border-radius: 50%;
      background-color: #a3bbc8;
    }

    &-num {
      position: absolute;
      width: 16px;
      height: 16px;
      font-size: 12px;
      text-align: center;
      line-height: 16px;
      background-color: white;
      border-radius: 50%;
      bottom: 10px;
      left: 10px;
    }
  }
}

.menu {
  @extend %rubik-500;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    font-size: 15px;
    color: $link;

    &:hover {
      color: $branded;
      transition: color 0.5s;
    }
  }

  &__link--active {
    color: $branded;
  }
}

.slider__top {
  &-inner {
    background-color: $branded;
  }

  &-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 225px;
    margin-right: 120px;
    margin-bottom: 205px;

  }

  &-content {
    margin-right: 120px;

  }

  &-title {
    max-width: 411px;
    width: 100%;
    margin-bottom: 29px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 64px;
    color: #243f4d;
    text-transform: uppercase
  }

  &-text {
    max-width: 359px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 36px;
    color: #436372;
  }

  &-link {
    position: relative;
    display: block;
    max-width: 200px;
    padding: 20px 0px 24px 29px;
    @extend %rubik-500;
    font-size: 15px;
    color: #ffffff;
    background-color: #a3bbc8;
  }

  &-link::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 9px;
    top: 30px;
    right: 18px;
    background-image: url('../images/icon/arrow.png');
  }

  &-images {
    position: relative;
    z-index: 1;
  }

  &-img {
    position: relative;
    width: 640px;
    height: 220px;

    &::after {
      content: '';
      position: absolute;
      width: 635px;
      height: 635px;
      top: -174px;
      right: -115px;
      background-repeat: no-repeat;
      background-image: url('../images/ellipse.png');

    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

    li {
      margin-right: 10px;

      button {
        @extend %rubik-500;
        color: #243f4d;
        width: 30px;
        height: 30px;
        line-height: 16px;
        border-radius: 50%;
        font-size: 11px;
        border: none;
        background-color: #fde3cc;
        cursor: pointer;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.main {

  &__row {
    display: flex;
    justify-content: space-around;
    background-color: #fef7f0;
    padding: 48px 0 25px;
    margin-bottom: 65px;
  }

  &__item {
    position: relative;
    max-width: 370px;
    width: 100%;
    padding-left: 100px;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 21px;
      left: 70px;
      bottom: 45px;
      border-radius: 50%;
      opacity: 0.2;
      background-color: #a3bbc8;
    }

  }

  &__subtitle {
    position: relative;
    color: #414141;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      left: -65px;
    }

    &--support::before {
      background-image: url('../images/icon/support.svg');
      background-repeat: no-repeat;
    }

    &--delivery::before {
      background-image: url('../images/icon/delivery.svg');
      background-repeat: no-repeat;
    }

    &--payment::before {
      background-image: url('../images/icon/payment.svg');
      background-repeat: no-repeat;
    }

  }

  &__text {
    margin-bottom: 10px;
    color: #585858;
    font-size: 16px;
    font-weight: 400;
  }
}


.products {
  &__title {
    margin-bottom: 25px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }

  &__item {
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover {
      .products__links {
        visibility: visible;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 206px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    visibility: hidden;

  }

  &__link {
    display: inline-flex;
    /*ссылка стоит не по центу , с этим свойством стала по центру*/
    padding: 13px;
    border-radius: 50%;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #ffffff;


    path {
      transition: fill 0.3s;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:nth-child(2) {
      background-color: #a3bbc8;
    }

    &:hover {
      path {
        fill: $branded;
      }
    }
  }

  &__images {
    object-fit: cover;
    margin: 0 auto;
  }

  &__price {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
    color: #a4bbc8;
  }

  &__subtitle {

    margin-bottom: 17px;
    color: $nameFurniture;
  }


}

.footer {
  @extend %rubik-400;
  font-size: 14px;
  color: $footer;

  &__top {
    display: flex;
    border-bottom: 1px solid #dae4e9;
  }

  &__list {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    line-height: 32px;
    margin-bottom: 64px;
  }

  &__list:last-child {
    margin-right: 0;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__contact {
    max-width: 192px;
    width: 100%;
    line-height: 30px;
  }

  &__contact span {
    text-transform: uppercase;
    font-style: normal;
  }

  &__address {
    max-width: 178px;
    width: 100%;
    font-style: normal;
  }

  &__title {
    @extend %dmsans-700;
    line-height: 21px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #1f2044;
    padding-top: 17px;
    text-transform: uppercase;
  }

  &__text {
    line-height: 25px;
    margin-bottom: 38px;
  }

  &__email {
    border: none;
    font-weight: 400;
    font-size: 12px;
    background-color: #fef7f0;
    margin-right: -5px;
    padding: 0 25px 0 16px;

    &::placeholder {
      color: #234969;
    }
  }

  &__btn {
    font-size: 14px;
    border: none;
    background-color: #a3bbc8;
    color: #ffffff;
    padding: 0 19px 0 16px;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 39px;

    &-list {
      display: flex;
    }

    &-item:not(:last-child) {
      border-right: 1px solid $footer;
      margin-right: 14px;
      padding-right: 14px;
    }
  }

}

@import 'media';